.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  margin-left: 220px; /* Espacio para el sidebar */
  padding: 20px; /* Añade un poco de espacio alrededor */
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
  display: flex;
  margin-bottom: 100px; /* Asegúrate de que sea mayor que la altura del footer */;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
}

/* Para el footer */
.footer {
  background-color: #668CD8; /* Color azul */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 60px; 
  position: fixed; /* Hace que el footer sea fijo */
  bottom: 0; /* Ancla el footer a la parte inferior de la pantalla */
  left: 0; /* Asegura que esté alineado a la izquierda */
  width: 100%; /* Ocupará todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-text {
  font-size: 18px;
  margin-right: 50px;
}

.logo-placeholder {
  font-size: 5px;
}
.logoU {
  width: 150px; /* Puedes reducirlo si es necesario */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 60px;
}
/* Para el menú (barra lateral) */

