.sidebar {
  background-color: #668CD8;
  color: white;
  padding: 20px;
  height: 84vh; /* Ocupará toda la altura de la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Ancho del sidebar */
  overflow-y: auto;
  z-index: 10; /* Asegura que no se sobreponga con otros elementos */
}


.sidebar h3 {
  color: white;
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
}

.sidebar ul li ul {
  margin-left: 10px;
}

  